@import './base.css';

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FAFAF5;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
  background-color: #FAFAF5;
  /* border: 1px solid black; */
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

html {
  scroll-behavior: smooth;
}